form {
    background-color: pink;
    padding: 25px;
  }
  
  #name {
    height: 25px;
  }
  
  .btn {
    margin-top: 25px;
    padding: 10px;
  }
  
  label[for="name"] {
    font-style: italic;
}